.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-container {
  background-color: #059669; /* verde */
  color: white;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.modal-message {
  margin-bottom: 16px;
  font-size: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.btn-cancel {
  background-color: #b91c1c; /* vermelho */
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-confirm {
  background-color: #1f2937; /* cinza escuro */
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
